<a href="https://colab.research.google.com/github/camillefougere/PredictivePolicingCaseStudy/blob/main/Get_Zipcodes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from IPython.display import display
import matplotlib.pyplot as plt
from shapely.geometry import Point
import plotly.express as px
from geopy.geocoders import Nominatim
import json
import folium

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
df = pd.read_csv('/gdrive/MyDrive/capstone/Cleaned_Crime_Data_2012.csv')
df.drop(columns='Unnamed: 0', inplace=True)
df['Date Occd'] = pd.to_datetime(df['Date Occd']).dt.normalize()
df['Date Rptd'] = pd.to_datetime(df['Date Rptd'])
df.sort_values(by='Date Rptd', inplace=True)
display(df.head(10))

          DR_NO  Date Rptd  ... CROSS ST         COORDINATES
315   120404015 2012-01-01  ...    PECAN  34.0453, -118.2214
436   120304068 2012-01-01  ...      NaN  34.0091, -118.2915
1309  120904012 2012-01-01  ...      NaN  34.1847, -118.4444
1323  120900502 2012-01-01  ...      NaN  34.1924, -118.4444
1324  120504031 2012-01-01  ...      NaN  33.7799, -118.2637
1325  120604240 2012-01-01  ...      NaN  34.0835, -118.3114
1332  120604082 2012-01-01  ...      NaN  34.1016, -118.3333
1334  121304044 2012-01-01  ...      NaN  33.9976, -118.2652
1351  120404273 2012-01-01  ...      NaN  34.0533, -118.1991
425   120704020 2012-01-01  ...      NaN  34.0524, -118.3343

[10 rows x 26 columns]

In [ ]:
focused = df[['Date Rptd', 'Part 1-2','COORDINATES']]
display(focused.head(1))
part1 = focused[focused['Part 1-2'] == 1]
display(part1.head(1))
part2 = focused[focused['Part 1-2'] == 2]
display(part2.head(1))

     Date Rptd  Part 1-2         COORDINATES
315 2012-01-01         2  34.0453, -118.2214

     Date Rptd  Part 1-2         COORDINATES
436 2012-01-01         1  34.0091, -118.2915

     Date Rptd  Part 1-2         COORDINATES
315 2012-01-01         2  34.0453, -118.2214

In [ ]:
jan1 = part1[part1['Date Rptd'] < '2012-2-1']
jan1.reset_index(inplace=True)
print(jan1)
jan2 = part2[part2['Date Rptd'] < '2012-2-1']
jan2.reset_index(inplace=True)
print(jan2)

      index  Date Rptd  Part 1-2         COORDINATES
0       436 2012-01-01         1  34.0091, -118.2915
1      1309 2012-01-01         1  34.1847, -118.4444
2      1325 2012-01-01         1  34.0835, -118.3114
3      1332 2012-01-01         1  34.1016, -118.3333
4      1363 2012-01-01         1   34.069, -118.1766
...     ...        ...       ...                 ...
8591  13475 2012-01-31         1  34.0616, -118.2794
8592  13494 2012-01-31         1  34.2282, -118.6042
8593   9456 2012-01-31         1  34.0998, -118.3267
8594  16776 2012-01-31         1  34.2301, -118.4698
8595   9544 2012-01-31         1  34.0998, -118.3267

[8596 rows x 4 columns]
      index  Date Rptd  Part 1-2         COORDINATES
0       315 2012-01-01         2  34.0453, -118.2214
1      1323 2012-01-01         2  34.1924, -118.4444
2      1324 2012-01-01         2  33.7799, -118.2637
3      1334 2012-01-01         2  33.9976, -118.2652
4      1351 2012-01-01         2  34.0533, -118.1991
...     ...        ...       ...                 ...
6060  16453 2012-01-31         2  34.0559, -118.3112
6061  17367 2012-01-31         2   34.0382, -118.284
6062  17385 2012-01-31         2  34.1021, -118.2296
6063  17387 2012-01-31         2  34.0935, -118.2937
6064   9576 2012-01-31         2  33.9854, -118.3279

[6065 rows x 4 columns]

In [ ]:
def get_zips(df):
  geolocator = Nominatim(user_agent="geoapiExercises")
  zips = []
  for i in range(len(df)):
    zip = geolocator.reverse(df.loc[i, 'COORDINATES']).raw['address'].get('postcode', 'missing')[:5]
    zips.append(zip)
    if len(zips)%500==0:
      print('Zips Added: ' + str(len(zips)))
  df.insert(len(df.columns), 'ZIPCODE', zips)
  return df

In [ ]:
zipped_jan1 = get_zips(jan1)

Zips Added: 500
Zips Added: 1000
Zips Added: 1500
Zips Added: 2000
Zips Added: 2500
Zips Added: 3000
Zips Added: 3500
Zips Added: 4000
Zips Added: 4500
Zips Added: 5000
Zips Added: 5500
Zips Added: 6000
Zips Added: 6500
Zips Added: 7000
Zips Added: 7500
Zips Added: 8000
Zips Added: 8500

In [ ]:
zipped_jan1.to_csv('part1crimesjanuary.csv')

In [ ]:
zipped_jan2 = get_zips(jan2)

Zips Added: 500
Zips Added: 1000
Zips Added: 1500
Zips Added: 2000
Zips Added: 2500
Zips Added: 3000
Zips Added: 3500
Zips Added: 4000
Zips Added: 4500
Zips Added: 5000
Zips Added: 5500
Zips Added: 6000

In [ ]:
zipped_jan2.to_csv('part2crimesjanuary.csv')